.carousel__dot-group {
    @apply space-x-3 my-4 text-center;
}

.carousel__dot {
    @apply bg-white w-[16px] h-[16px] rounded-full transition-all hover:outline-4 outline outline-0 outline-white/10 active:outline-0 hover:scale-125 active:scale-100;
}

.carousel__dot--selected {
    @apply bg-secondary;
}